$link-color: rgb(13, 13, 150);

.p-datatable .p-datatable-table {
    tr {
        th, td {
            &:first-child {
                width: 3.5rem;
            }
            &:nth-child(2) {
                width: 7.5rem;
            }
        }
    }
}

.artist-icon {
    display: block;
    width: 0.3rem;
    cursor: pointer;
    color: $link-color;
    font-weight: 500;
    &>svg {
        &:visited {
            color: $link-color;
        }
    }
    &>#fa-folder-open {
        display: none;
    }
    &:hover {
        transform: scale(1.2);
        &>#fa-folder-open {
            display: block;
        }

        &>#fa-folder {
            display: none;
        }
    }
}

a {
    cursor: pointer;
    color: $link-color;
    font-weight: 500;
    &:visited {
        color: $link-color;
    }
    &#tableLink:hover {
        text-decoration: underline;
    }
    &#back {
        color: auto;
        &>.pi {
            font-size: 2rem;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.text-white a {
    color: white !important;
}

#sidDiv {
    margin-bottom: 2rem;
    width: 100%;

    &>label {
        padding-right: 1rem;
        font-weight: bold;
    }

    .p-inputtext {
        width: 45%;
    }
}

#breadcrumb {
    a:hover {
        text-decoration: underline;
    }
}

#artist-tag {
    &.p-tag {
        border: 1px solid rgb(99, 101, 241);
        background-color: rgb(99, 101, 241, 0.75);
        &.p-tag-secondary {
            border-color: rgb(34, 197, 94);
            background-color: rgba(34, 197, 94, 0.5);
        }
    }
}

.playing-track {
    transform: scale(1.2);
    color: #2196f3;
    animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}