$link-color: rgb(13, 13, 150);

.artist-icon {
    display: block;
    width: 0.3rem;
    cursor: pointer;
    color: $link-color;
    font-weight: 500;

    &>svg {
        &:visited {
            color: $link-color;
        }
    }

    &>#fa-folder-open {
        display: none;
    }

    &:hover {
        &>#fa-folder-open {
            display: block;
        }

        &>#fa-folder {
            display: none;
        }
    }
}

a {
    cursor: pointer;
    color: $link-color;
    font-weight: 500;

    &:visited {
        color: $link-color;
    }

    &#tableLink:hover {
        text-decoration: underline;
    }

    &#back {
        color: auto;

        &>.pi {
            font-size: 2rem;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.text-white a {
    color: white !important;
}

#sidDiv {
    margin-bottom: 2rem;
    width: 100%;

    &>label {
        padding-right: 1rem;
        font-weight: bold;
    }

    .p-inputtext {
        width: 45%;
    }
}